@use './variables/' as *;
@use './function/' as *;
@use './reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// 字體
@font-face {
    font-family: 'Linebeam';
    src: url(../assets/fonts/Linebeam.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NicoMoji';
    src: url(../assets/fonts/NicoMoji-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

// 共用區
body {
    background-color: $deep;
    color: white;
}

::-webkit-scrollbar {
    //捲軸
    width: 10px; //垂直捲軸寬
    background-color: $color-main-yBg;
}

::-webkit-scrollbar-thumb {
    //捲軸手柄
    background-color: $color-main-yellow ;
    border-radius: 5px;
}

.title {
    margin-top: 200px;
    overflow: hidden;

    .titlewrapper {
        position: relative;
        font-size: $font-size-ex-title;
        font-family: 'Linebeam';
        text-align: center;

        .h2main {
            margin: 40px 0;
            position: relative;
            z-index: 10;
        }

        .h2bottom {
            position: absolute;
            z-index: 5;
            width: 100%;
            top: 12px;
            // bottom: 30px;
            left: 10px;
        }
    }
}


#rain {
    // width: 100%;
    // height: 100vh;
    // display: block;
    position: fixed;
}

.toTop {
    position: fixed;
    z-index: 99;
    bottom: 5%;
    right: 1%;
    // display: none;

    .toTop-btn {
        width: 70%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
.glitch {
    position: relative;
    /* Animation provies a slight random skew. Check bottom of doc
    for more information on how to random skew. */
    // animation: glitch-skew 1s infinite linear alternate-reverse;
    
    // Creates a copy before our text. 
    &::before{
        // Duplicates our text with the mixin.
        @include glitchCopy;
        // Scoots text slightly to the left for the color offset.
        left: 2px;
        // Creates the color 'shadow' that happens on the glitch.
        text-shadow: -2px 0 $color-main-blue;
        /* Creates an initial clip for our glitch. This works in
        a typical top,right,bottom,left fashion and creates a mask
        to only show a certain part of the glitch at a time. */
        clip: rect(44px, 450px, 56px, 0);
        /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
        with an alternating animation to keep things fresh. */
        animation: glitch-anim 5s infinite linear alternate-reverse;
    }
    
    // Creates a copy after our text. Note comments from ::before.
    &::after {
        @include glitchCopy;
        left: -2px;
        text-shadow: -2px 0 $color-main-yellow, 2px 2px $color-main-blue;
        animation: glitch-anim2 1s infinite linear alternate-reverse;
    }
}

// 導覽列
#topbar {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 2%;
    position: fixed;
    z-index: 999;
    align-items: center;
    img{
        width:$font-size-xxxxl;
        margin-right: 15px;
    }
    a {
        color: $color-main-yellow;
        display: flex;
        align-items: center;
    }

    h1 {
        font-family: 'Linebeam';
        font-size: $font-size-xxxl;
        
    }

    nav {
        ul {
            display: flex;

            li {
                margin: 0 10px;
                font-family: 'NicoMoji';
            }
        }
    }
}

// banner
#banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bannershine 3.2s ;

    h2 {
        position: absolute;
        font-family: 'Linebeam';
        font-size: $font-size-ex;
        color: $color-main-yellow;
        margin: 0 10%;
        text-align: center;
    }

    img {
        position: relative;
        width: 90%;
        height: 90%;
    }

    #bannerBtn {
        border: none;
        background-color: transparent;
        transition: .3s;
        #bannerBtnBlock1 {
            position: absolute;
            width: 12%;
            height: 11%;
            bottom: 4.5%;
            right: 21%;
            clip-path: polygon(0 100%, 65% 0, 100% 0, 35% 100%);
            background-color: $color-main-yellow;
            transition: .5s;
        }

        #bannerBtnBlock2 {
            position: absolute;
            width: 10%;
            height: 11%;
            bottom: 4.5%;
            right: 27%;
            clip-path: polygon(0 100%, 77% 0, 100% 0, 23% 100%);
            background-color: $color-main-yellow;
            transition: .5s;
        }

        #bannerBtnText {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;
            border: none;
            color: $deep;
            font-family: 'Linebeam';
            font-size: $font-size-xxl;
            cursor: pointer;
            background-color: $color-main-yellow;
            width: 22%;
            height: 11%;
            padding-left: 5%;
            border-radius: 0 0 50px 0;
            clip-path: polygon(0 100%, 35% 0, 100% 0, 100% 100%);
            bottom: 4.5%;
            right: 5%;
            overflow: visible;
            transition: .5s;
            a{
                color: $deep;
            }
        }
        &:hover{
            animation: shine .3s ;
            
            #bannerBtnBlock1{
                transform: translateX(150px);
                opacity: 0;
            }
            #bannerBtnBlock2{
                transform: translateX(200px);
                opacity: 0;
            }
            #bannerBtnText{
                // animation: topost .3s .3s ;
                width: 30%;
                letter-spacing: 1rem;
                background-color: $color-main-blue;
                clip-path: polygon(0 100%, 25% 0, 100% 0, 100% 100%);
                animation: shinetopost .3s .6s ;
                opacity: .6;
            }
            
            }
    }
}

// HIT區
#hit {
    #spaceX,#spaceX2{
        height: 350px;
    }
    .title {
        margin-bottom: 200px;
        position: relative;
        padding-bottom: 50px;
        .titlewrapper{
            opacity: 0;
            animation: hitImg .25s 1.2s both;
        }
        #hitTop {
            width: 50%;
            position: relative;
            animation: hitImg .3s 1.2s;
            .titleTop1{
                opacity: 0;
                animation:  titletop .3s .5s both;
            }
            .titleTop2 {
                opacity: 0;
                position: absolute;
                width: 25%;
                bottom: 25%;
                left: 35%;
                animation:  titletop .3s .8s both;
            }

            .titleTop3 {
                opacity: 0;
                position: absolute;
                width: 20%;
                top: 50%;
                right: 15%;
                animation:  titletop .3s 1.1s both;
            }
        }

        h2 {
            color: $color-main-yellow;
            letter-spacing: $font-size-xxxxl;
            
        }

        .h2bottom {
            position: absolute;
            color: $color-main-yBg;
            letter-spacing: $font-size-xxxxl;
            top: 50px;
        }


        #hitBottom {
            width: 55%;
            height: 80px;
            position: absolute;
            right: 0;
            bottom: 0;
            overflow: hidden;
            animation: hitImg .3s 1.2s both;
            .hittopping{
                position: absolute;
                opacity: 0;
            }
            .WrapperTop{
                opacity: 0;
                width: 100%;
                top: 0;
                animation: titlebottom 0.3s both;
            }
            .Inner1{
                width: 5%;
                bottom: 45%;
                right: 61%;
                animation: titlebottom 0.3s 0.2s both;
            }
            .Inner2{
                width: 5%;
                bottom: 45%;
                right: 56%;
                animation: titlebottom 0.3s 0.25s both;
            }
            .Inner3{
                width: 5%;
                bottom: 45%;
                right: 45%;
                animation: titlebottom 0.3s 0.3s both;
            }
            .Inner4{
                width: 15%;
                bottom: 45%;
                right: 30%;
                animation: titlebottom 0.3s 0.4s both;
            }
            .Inner4-2{
                width: 4.5%;
                bottom: 44%;
                right: 40%;
                animation: titlebottom 0.3s 0.45s both;
            }
            .inner4-3{
                width: 10%;
                bottom: 45%;
                right: 30%;
                animation: titlebottom 0.3s 0.5s both;
            }
            .Inner5{
                width: 25%;
                bottom: 15%;
                right: 2.8%;
                transform: rotateY(180deg);
                animation: titlebottom 0.3s 0.6s both;
            }
            .WrapperBottom{
                width: 50%;
                bottom: 0;
                right: 8.3%;
                animation: titlebottom 0.3s 0.7s both;
            }

        }
    }

    article {
        margin: 150px 10%;
    }
    .hit01{
        margin-top: 250px;
    }
    .hit1 {
        display: flex;
        .hitimg {
            width: 50%;
            position: relative;
            opacity: 0;
            animation: hitImg .25s both;
            .hit1img {
                mask-image: url(./images/hitmask.png);
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            .hitWrapper {
                position: absolute;
                width: 86%;
                top: -2.5%;
                left: -2.8%;
                
            }
        }

        .hit1ContentWrapper {
            // margin-left: 10%;
            position: relative;
            width: 40%;
            

            #line1 {
                opacity: 0;
                position: absolute;
                width: 130%;
                left: -5%;
                animation: shine .3s .4s both;
            }

            .hit1Content {
                width: 100%;
                margin: 20% 10% 0;
                font-family: 'NicoMoji';
                color: $color-font-green;
                background-image: url(./images/FileContentMain.svg);
                background-size: contain;
                // background-position: center;
                background-repeat: no-repeat;
                position: relative;
                height: 450px;
                opacity: 0;
                animation: shine .3s .3s both;
                h3 {
                    font-size: $font-size-ex-hitTitle;
                    padding-top: 5%;
                    padding-left: 5%;
                    opacity: 0;
                    animation: hitImg .3s .5s both;
                }

                .type {
                    padding-left: 12%;
                    line-height: 2.5rem;
                    font-size: $font-size-xl;
                    opacity: 0;
                    animation: hitImg .3s .7s both;
                }

                p {
                    padding: 0 10% 0 20%;
                    line-height: 1.6rem;
                    opacity: 0;
                    animation: hitImg .3s .75s both;
                }

                .time {
                    line-height: 4rem;
                    text-align: end;
                }

                // 裝飾框
                .hitborder {
                    position: absolute;
                }

                .lineBlockFill {
                    top: -20%;
                    left: -9%;
                    opacity: 0;
                    animation: shine .3s .3s both;
                }

                .lineBlockStr {
                    top: -20%;
                    left: -27%;
                    opacity: 0;
                    animation: shine .3s .2s  both;
                }

                .hitR {
                    width: 50%;
                    top: -15%;
                    left: -5%;
                    opacity: 0;
                    animation: hitImg .3s .6s both;
                }

                .hitL1 {
                    bottom: 30%;
                    right: -6%;
                    opacity: 0;
                    animation: hitImg .3s .7s both;
                }

                .hitL2 {
                    bottom: 20%;
                    right: -6%;
                    opacity: 0;
                    animation: hitImg .3s .75s both;
                }

                .hitL3 {
                    bottom: 13%;
                    right: -6%;
                    opacity: 0;
                    animation: hitImg .3s .8s both;
                }

            }
        }
    }

    .hit02 {
        transform: rotateY(180deg);

        h3,
        p {
            transform: rotateY(180deg);
        }

        .hit1ContentWrapper {
            .hit1Content {
                background-image: url(./images/FileContentMain-yellow.png);
                background-size: contain;
                // background-position: center;

                h3 {
                    padding-left: 15%;
                }

                .type {
                    padding-left: 20%;
                    line-height: 2.5rem;
                }

                p {
                    padding-left: 15%;
                }

                .time {
                    text-align: start;
                }
            }
        }
    }
}

.hitimg {
    transition: .5s;
}

// NEWS區
#news {
    .newsLineText {
        font-family: 'Linebeam';
        color: $color-main-blue;
    }

    .title {
        #newsTop {
            width: 50%;
            position: relative;
            z-index: 88;
            position: relative;
                width: 50%;
                position: relative;
                .titleTop1{
                    opacity: 0;
                    animation:  titletop .3s .9s both;
                }
                .titleTop2 {
                    opacity: 0;
                    position: absolute;
                    width: 25%;
                    bottom: 25%;
                    left: 35%;
                    animation:  titletop .3s 1s both;
                }
    
                .titleTop3 {
                    opacity: 0;
                    position: absolute;
                    width: 20%;
                    top: 50%;
                    right: 15%;
                    animation:  titletop .3s 1.1s both;
                }
            
        }

        h2 {
            letter-spacing: 5rem;
            color: $color-main-blue;
        }

        .h2bottom {
            letter-spacing: 5rem;
            color: $color-main-yBg;
        }

        #newsBottom {
            width: 55%;
            height: 80px;
            position: absolute;
            right: 0;
            overflow: hidden;
            .newstopping{
                position: absolute;
            }
            .WrapperTop{
                width: 100%;
                top: 0;
            }
            .Inner1{
                width: 5%;
                bottom: 45%;
                right: 61%;
            }
            .Inner2{
                width: 5%;
                bottom: 45%;
                right: 56%;
            }
            .Inner3{
                width: 5%;
                bottom: 45%;
                right: 45%;
            }
            .Inner4{
                width: 15%;
                bottom: 45%;
                right: 30%;
            }
            .Inner5{
                width: 25%;
                bottom: 15%;
                right: 2.8%;
            }
            .WrapperBottom{
                width: 50%;
                bottom: 0;
                right: 8.3%;
            }
        }
    }

    .newsContent {
        margin: 10%;

        .newsLine1 {
            width: 45%;
            padding-left: 20%;
            position: relative;
            line-height: $font-size-ex-m;

            .newsLine1Text {
                width: 110%;
                text-align: end;
                font-size: $font-size-ex-m;
            }

            .newsLine1Textsec {
                width: 160%;
                text-align: end;
                font-size: $font-size-xxxl;
                letter-spacing: $font-size-l;
            }

            .topping {
                img {
                    width: 15%;
                    position: absolute;
                }

                .shipblock {
                    width: 100%;
                    top: -15%;
                    right: -40%;
                }

                .NewsTitleLine {
                    width: 160%;
                    top: -15%;
                    left: -6%;
                }

                .NewsTitle01 {
                    top: 15%;
                    left: 42%;
                }

                .NewsTitle02 {
                    width: 13.7%;
                    top: 15%;
                    left: 48%;
                }

                .NewsTitle03 {
                    width: 13%;
                    top: 15%;
                    left: 53%;
                }

                .FileLineBlockStrike {
                    left: -10%;
                    top: 0;
                }

                .FileLineBlockFill {
                    width: 13%;
                    left: 4%;
                    top: 0;
                }

            }
        }

        .newsImg {
            margin-top: 40px;
            padding-left: 20%;
            width: 90%;
            position: relative;

            .ship {
                mask-image: url(./images/Newsmask.png);
                mask-size: cover;
            }

            //ship裝飾區
            .shipwrapper {
                position: absolute;
                top: -4%;

                .newsborder {
                    position: absolute;
                    width: 20%;
                }

                //R
                .BorderR01 {
                    width: 4%;
                    top: 30%;
                    right: 0;
                }

                .BorderR02 {
                    width: 4%;
                    top: 44%;
                    right: 0;
                }

                .BorderR03 {
                    width: 4%;
                    top: 55%;
                    right: 0;
                }

                //B1
                .BorderBMain {
                    width: 50%;
                    bottom: 0;
                    right: -5%;
                }

                .BorderB1-1 {
                    width: 4%;
                    bottom: 1.5%;
                    right: 10%;
                }

                .BorderB1-2 {
                    width: 4.8%;
                    bottom: 1.5%;
                    right: 12%;
                }

                .BorderB1-3 {
                    width: 4.8%;
                    bottom: 1.5%;
                    right: 15%;
                }

                .BorderB1-4 {
                    width: 31%;
                    bottom: 1.7%;
                    right: 18%;
                }

                //B2
                .BorderB2-1 {
                    width: 25%;
                    bottom: 1%;
                    left: 38%;
                }

                .BorderB2-2 {
                    width: 8%;
                    bottom: 1%;
                    left: 34%;
                }

                .BorderB2-3 {
                    width: 8%;
                    bottom: 1%;
                    left: 30%;
                }

                //L
                .BorderLMain {
                    top: 18%;
                    left: -7%;
                    width: 11%;
                }

                .BorderL01 {
                    top: 70%;
                    left: -6%;
                    width: 2%;
                }

                .BorderL02 {
                    top: 62%;
                    left: -6%;
                    width: 2%;
                }

                .BorderL03 {
                    top: 50%;
                    left: -6%;
                    width: 2%;
                }

                .BorderLB {
                    top: 38%;
                    left: -10%;
                    width: 25%;
                }

                .BorderLB2 {
                    bottom: -10%;
                    left: 0%;
                    width: 45%;
                }

                //T
                .BorderT {
                    position: absolute;
                    top: -5%;
                    right: -5%;

                }
            }
        }
    }
}

//moreline
#moreLine {
    position: relative;
    z-index: 2;
    width: 18%;
    margin-left: 45%;
}

//more-btn
#moreBtn {
    margin-left: 65%;
    margin-bottom: 300px;
    border: none;
    background-color: transparent;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-main-blue;
    width: 22%;
    height: 30vh;
    font-family: 'Linebeam';
    font-size: $font-size-xxxxl;
    cursor: pointer;

    img {
        position: absolute;
        transform: translate(-50%, -50%);
        transition: .5s;
    }

    #circle1 {
        width: 60%;
        top: 50%;
        left: 50%;
    }

    #circle2 {
        width: 20%;
        top: 35%;
        left: 51%;
        animation: morebtn 5s linear infinite;
    }

    #circle3 {
        width: 90%;
        top: 50%;
        left: 50%;
    }

    #circle4 {
        width: 100%;
        top: 50%;
        left: 50%;
    }

    #circle5 {
        width: 95%;
        top: 90%;
        left: 70%;
    }

    &:hover {
        #circle1 {

            animation: shine 3s linear infinite;
        }

        #circle2 {
            width: 80%;
            top: -10%;
            left: 11%;
            animation: morebtn 5s linear infinite;
        }

        #circle4 {
            top: -25%;
            left: -0%;
            animation: circ3 4s linear infinite;
        }

    }
}

// ABOUT區
#about {
    background-color: #D0D0D0;
    color: #000;
    position: relative;
    z-index: 50;

    .title {
        position: relative;
        font-size: $font-size-ex-title;
        font-family: 'Linebeam';
        text-align: center;
        letter-spacing: $font-size-ex-m;
        .h2main {
            margin:300px 0 40px;
            position: relative;
            z-index: 10;
            color: #000;
        }

        .h2bottom {
            position: absolute;
            z-index: 5;
            width: 100%;
            top: 60%;
            left: -10px;
            margin: 0;
            color: #fff;
        }
    }

    hr {
        border: none;
        height: 3px;
    }

    #hr1 {
        background-color: white;
        width: 80%;
        margin: 0 auto;
    }

    #hr2 {
        background-color: #000;
        width: 80%;
        margin: 5px auto;
        margin-left: calc(10% + 10px);
    }


    #aboutTitle {
        display: flex;
        justify-content: center;
        margin-top: 300px;

        .aboutCircle {
            font-size: $font-size-ex-content;
            font-family: 'Linebeam';

            .pTop {
                position: relative;

                .circle {
                    position: absolute;
                    bottom: -180px;
                    height: 450px;
                    width: 450px;
                    border: 3px solid #B5B5B5;
                    border-radius: 999px;
                }

                .circleb {
                    bottom: -185px;
                    border: 3px solid white;
                }

                .pTopcircle1 {
                    left: -170px;
                }

                .pTopcircle1b {
                    left: -175px;
                }

                .pTopcircle2 {
                    left: -75px;
                }

                .pTopcircle2b {
                    left: -80px;
                }

                .pTopcircle3 {
                    left: -135px;
                }

                .pTopcircle3b {
                    left: -140px;
                }
            }

            .pBottom {
                position: absolute;
                color: white;
                top: -5px;
                left: -5px;
            }

            .h2bottom {
                position: absolute;
                z-index: -1;
                width: 100%;
                top: 12px;
                left: 10px;
            }
        }

        .aboutCircleM {
            margin: 0 10.8% 0 12.5%;
        }
    }

    #aboutContent {
        text-align: center;
        line-height: 4rem;

        h3 {
            margin-top: 300px;
            font-family: 'NicoMoji';
            font-size: $font-size-xxxl;
        }

        p {
            padding: 80px 0 200px;
            font-family: 'Inter';
            font-size: $font-size-l;
            font-weight: 900;
        }
    }
}

// FOOTER區
footer {
    width: 70%;
    height: 25vh;
    background-color: $color-main-yellow;
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img{
        width:$font-size-xxxxl;
        margin-right: 15px;
    }
    h2 {
        margin: 10px 0 0 50px;
        font-family: 'NicoMoji';
        font-size: $font-size-xxxxl;
    }

    a {
        color: $deep;
        display: flex;
    }

    ul {
        display: flex;
        justify-content: end;
        margin: 20px 50px 0;

        li {
            margin: 0 35px;
            font-family: 'NicoMoji';
            font-size: $font-size-xxl;
            border-bottom: 3px solid transparent;
            transition: .5s;

            &:hover {
                border-bottom: 3px solid black;
            }
        }
    }

    small {
        text-align: center;
        margin-top: 5vh;
    }
}


//post
#post{
    height: 100vh;
    #topbar{
        position: fixed;
        transition: .5s;
        animation: shineTopbar .4s both;
    }

    form{
        font-family: 'Linebeam';
        display: block;
        display: flex;
        flex-direction: column;
        margin: 0;
        label{
            margin: 20px 0 10px;
            color: $color-main-yellow;
            font-size: $font-size-l;
        }
        #formTop{
            margin-top: 15vh;
            display: flex;
            // align-items: center;
            justify-content: center;
            position: relative;
        }
        .area{
            width: 100%;
            display: block;
            display: flex;
            flex-direction: column;
            // align-items: end;
            input,textarea,select{
                width: 100%; 
                height: 140px; 
                background: url('./images/formBG.png') no-repeat ;
                background-size: 100% 100%; 
                border: none;
                color: #fff;
                font-family: 'Inter';
                font-weight: bold;
                // box-sizing: border-box; /* 包含邊框和內邊距 */
                padding:0 30px;
                transition: .3s;
                &:focus{
                    outline: none;
                    filter: drop-shadow(2px 2px $color-font-green);
                    // animation: shine .4s both;
                }
                &::placeholder{
                    color: $color-font-green;
                }
            }
            input{
                height: 60px;
            }
            select{
                height: 50px;
                appearance: none; /* 移除預設箭頭 */
                color: $color-font-green;
                option{
                    background-color: $deep;
                    color: $color-font-green;
                    &:checked{
                        background-color: $color-font-green;
                        color: $deep;
                    }
                }
            }
        }
        #area1{
            justify-content: space-around;
            position: relative;
            z-index: 99;
            width: 20%;
            margin-top: 20px;
            margin-left: 40%;
            label{
                width: 100%;
                margin-bottom: 20px;
            }
        }
        #area2{
            position: absolute;
            width: 50%;
            left: 20%;
            .uploadbtn{
                width: 13%;
                display: flex;
                cursor: pointer;
                position: absolute;
                top: 45%;
                left: 30%;
                font-size: $font-size-m;
                padding:10px 12px;
                text-align: center;
                color: $color-main-yellow;
                border: 2px solid $color-main-yellow;
                transition: .3s;
                img{
                    margin-left: 15px;
                    width: 15%;
                }
                &:hover{
                    background-color: $color-main-yellow;
                    color: $deep;
                    img{
                        filter: brightness(0);
                    }
                }
            }
            input{
                background: none;
                width: 28%;
                display: none;
            }
        }
        #area3{
            width: 60%;
            align-items: center;
            margin: 20px 20%;
            position: relative;
            label{
                align-self: start;
                margin-bottom: 20px;
            }
            textarea{
                padding:80px 50px;
                height: 300px;
                width: 100%;
                font-size: $font-size-m;
            }
            button{
                cursor: pointer;
                width: 150px;
                margin: 50px 50px 0; 
                border: none;
                color: $color-main-yellow;
                border: 2px solid $color-main-yellow;
                transition: .3s;
                background: none;
                padding: 10px 0;
                font-family: 'Linebeam';
                font-size: $font-size-l;

                &:hover{
                    background-color: $color-main-yellow;
                    color: $deep;
                }
            }
        }
    }
    footer{  
        margin-top: 150px;
        position: relative;
        z-index: 88;
        small{
            color: $deep;
        }
    }
}