@use './variables/' as *;
@use './function/' as *;
@use './reset';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// 字體
@font-face {
    font-family: 'Linebeam';
    src: url(../assets/fonts/Linebeam.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NicoMoji';
    src: url(../assets/fonts/NicoMoji-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

// 共用區
body {
    background-color: $deep;
    color: white;
}

.title {
    margin-top: 200px;
    overflow: hidden;

    h2 {
        font-size: $font-size-ex-title;
        font-family: 'Linebeam';
        position: relative;
        text-align: center;
    }

    .h2bottom {
        position: absolute;
        z-index: -1;
        width: 100%;
        top: 12px;
        left: 10px;
    }

    .h2main {
        margin: 40px 0;
    }
}

canvas {
    width: 100%;
    display: block;
    position: fixed;
}

// 導覽列
#topbar {
    width: 96%;
    display: flex;
    justify-content: space-between;
    margin: 2%;
    position: fixed;
    z-index: 999;

    a {
        color: $color-main-yellow;
    }

    h1 {
        font-family: 'Linebeam';
        font-size: $font-size-xxl;
    }

    nav {
        ul {
            display: flex;

            li {
                margin: 0 10px;
                font-family: 'NicoMoji';
            }
        }
    }
}

// banner
#banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // position: relative;
    h2 {
        position: absolute;
        font-family: 'Linebeam';
        font-size: $font-size-ex;
        color: $color-main-yellow;
        margin: 0 10%;
        text-align: center;
    }

    img {
        position: relative;
        width: 90%;
        height: 90%;
    }

    #bannerBtn {
        cursor: pointer;
        border: none;
        background-color: transparent;

        #bannerBtnBlock1 {
            position: absolute;
            width: 12%;
            height: 11%;
            bottom: 4.5%;
            right: 21%;
            clip-path: polygon(0 100%, 65% 0, 100% 0, 35% 100%);
            background-color: $color-main-yellow;
        }

        #bannerBtnBlock2 {
            position: absolute;
            width: 10%;
            height: 11%;
            bottom: 4.5%;
            right: 27%;
            clip-path: polygon(0 100%, 77% 0, 100% 0, 23% 100%);
            background-color: $color-main-yellow;
        }

        #bannerBtnText {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: none;
            border: none;
            color: $deep;
            font-family: 'Linebeam';
            font-size: $font-size-xxl;
            cursor: pointer;
            background-color: $color-main-yellow;
            width: 22%;
            height: 11%;
            padding-left: 5%;
            border-radius: 0 0 50px 0;
            clip-path: polygon(0 100%, 35% 0, 100% 0, 100% 100%);
            bottom: 4.5%;
            right: 5%;
            overflow: visible;
        }
    }
}

// HIT區
#hit {
    .title {
        margin-bottom: 200px;

        #hitTop {
            width: 50%;
            position: relative;

            .titleTop2 {
                position: absolute;
                width: 25%;
                bottom: 25%;
                left: 35%;
            }

            .titleTop3 {
                position: absolute;
                width: 20%;
                top: 50%;
                right: 15%;
            }
        }

        h2 {
            color: $color-main-yellow;
            letter-spacing: $font-size-xxxxl;

            .h2bottom {
                color: $color-main-yBg;
            }
        }

        #hitBottom {
            width: 60%;
            position: absolute;
            right: 0;
        }
    }

    article {
        margin: 250px 10%;
    }

    .hit1 {
        display: flex;

        .hitimg {
            width: 50%;
            position: relative;

            .hit1img {
                mask-image: url(./images/hitmask.png);
                mask-size: contain;
                mask-repeat: no-repeat;
            }

            .hitWrapper {
                position: absolute;
                width: 86%;
                top: -2.5%;
                left: -2.8%;
            }
        }

        .hit1ContentWrapper {
            // margin-left: 10%;
            position: relative;
            width: 40%;

            #line1 {
                position: absolute;
                width: 130%;
                left: -5%;
            }

            .hit1Content {
                width: 100%;
                margin: 20% 10% 0;
                font-family: 'NicoMoji';
                color: $color-font-green;
                background-image: url(./images/FileContentMain.svg);
                background-size: contain;
                // background-position: center;
                background-repeat: no-repeat;
                position: relative;
                height: 450px;

                h3 {
                    font-size: $font-size-ex-hitTitle;
                    padding-top: 8%;
                    padding-left: 5%;
                }

                .type {
                    padding-left: 12%;
                    line-height: 2.5rem;
                    font-size: $font-size-xl;
                }

                p {
                    padding: 0 10% 0 20%;
                    line-height: 1.6rem;
                }

                .time {
                    line-height: 4rem;
                    text-align: end;
                }

                // 裝飾框
                .hitborder {
                    position: absolute;
                }

                .lineBlockFill {
                    top: -20%;
                    left: -5%;
                }

                .lineBlockStr {
                    top: -20%;
                    left: -25%;
                }

                .hitR {
                    width: 50%;
                    top: -15%;
                    left: -5%;
                }

                .hitL1 {
                    bottom: 30%;
                    right: -6%;
                }

                .hitL2 {
                    bottom: 20%;
                    right: -6%;
                }

                .hitL3 {
                    bottom: 13%;
                    right: -6%;
                }

            }
        }
    }

    .hit2 {
        transform: rotateY(180deg);

        h3,
        p {
            transform: rotateY(180deg);
        }

        .hit1ContentWrapper {
            .hit1Content {
                background-image: url(./images/FileContentMain-yellow.png);
                background-size: cover;
                background-position: center;

                h3 {
                    padding-left: 15%;
                }

                .type {
                    padding-left: 20%;
                    line-height: 2.5rem;
                }

                p {
                    padding-left: 15%;
                }

                .time {
                    text-align: start;
                }
            }
        }
    }
}

// NEWS區
#news {
    .newsLineText {
        font-family: 'Linebeam';
        color: $color-main-blue;
    }

    .title {
        #newsTop {
            width: 50%;
        }

        h2 {
            letter-spacing: 5rem;
            color: $color-main-blue;

            .h2bottom {
                color: $color-main-yellow;
            }
        }

        #newsBottom {
            width: 60%;
            position: absolute;
            right: 0;
        }
    }

    .newsContent {
        margin: 10%;

        .newsLine1 {
            width: 45%;
            padding-left: 20%;
            position: relative;
            line-height: $font-size-ex-m;

            .newsLine1Text {
                width: 110%;
                text-align: end;
                font-size: $font-size-ex-m;
            }

            .newsLine1Textsec {
                width: 160%;
                text-align: end;
                font-size: $font-size-xxxl;
                letter-spacing: $font-size-l;
            }

            .topping {
                img {
                    width: 15%;
                    position: absolute;
                }

                .shipblock {
                    width: 100%;
                    top: -15%;
                    right: -40%;
                }

                .NewsTitleLine {
                    width: 160%;
                    top: -15%;
                    left: -6%;
                }

                .NewsTitle01 {
                    top: 15%;
                    left: 42%;
                }

                .NewsTitle02 {
                    width: 13.7%;
                    top: 15%;
                    left: 48%;
                }

                .NewsTitle03 {
                    width: 13%;
                    top: 15%;
                    left: 53%;
                }

                .FileLineBlockStrike {
                    left: -10%;
                    top: 0;
                }

                .FileLineBlockFill {
                    width: 13%;
                    left: 4%;
                    top: 0;
                }

            }
        }

        .newsImg1 {
            margin-top: 40px;
            padding-left: 20%;
            width: 90%;
            position: relative;

            .ship {
                mask-image: url(./images/Newsmask.png);
                mask-size: cover;
            }

            //ship裝飾區
            .shipwrapper {
                position: absolute;
                top: -5%;

                .newsborder {
                    position: absolute;
                    width: 20%;
                }

                //R
                .BorderR01 {
                    width: 4%;
                    top: 30%;
                    right: 0;
                }

                .BorderR02 {
                    width: 4%;
                    top: 44%;
                    right: 0;
                }

                .BorderR03 {
                    width: 4%;
                    top: 55%;
                    right: 0;
                }

                //B1
                .BorderBMain {
                    width: 50%;
                    bottom: 0;
                    right: -5%;
                }

                .BorderB1-1 {
                    width: 4%;
                    bottom: 1.5%;
                    right: 10%;
                }

                .BorderB1-2 {
                    width: 4.8%;
                    bottom: 1.5%;
                    right: 12%;
                }

                .BorderB1-3 {
                    width: 4.8%;
                    bottom: 1.5%;
                    right: 15%;
                }

                .BorderB1-4 {
                    width: 31%;
                    bottom: 1.7%;
                    right: 18%;
                }

                //B2
                .BorderB2-1 {
                    width: 25%;
                    bottom: 1%;
                    left: 38%;
                }

                .BorderB2-2 {
                    width: 8%;
                    bottom: 1%;
                    left: 34%;
                }

                .BorderB2-3 {
                    width: 8%;
                    bottom: 1%;
                    left: 30%;
                }

                //L
                .BorderLMain {
                    top: 18%;
                    left: -7%;
                    width: 11%;
                }

                .BorderL01 {
                    top: 70%;
                    left: -6%;
                    width: 2%;
                }

                .BorderL02 {
                    top: 62%;
                    left: -6%;
                    width: 2%;
                }

                .BorderL03 {
                    top: 50%;
                    left: -6%;
                    width: 2%;
                }

                .BorderLB {
                    top: 38%;
                    left: -10%;
                    width: 25%;
                }

                .BorderLB2 {
                    bottom: -10%;
                    left: 0%;
                    width: 45%;
                }

                //T
                .BorderT {
                    position: absolute;
                    top: -5%;
                    right: -5%;

                }
            }
        }
    }
}

//moreline
#moreLine {
    width: 18%;
    margin-left: 45%;
}

//more-btn
#moreBtn {
    margin-left: 65%;
    margin-bottom: 300px;
    border: none;
    background-color: transparent;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-main-blue;
    width: 22%;
    height: 30vh;
    font-family: 'Linebeam';
    font-size: $font-size-xxxxl;
    cursor: pointer;

    img {
        position: absolute;
        transform: translate(-50%, -50%);
    }

    #circle1 {
        width: 60%;
        top: 50%;
        left: 50%;
    }

    #circle2 {
        width: 80%;
        top: 50%;
        left: 50%;
    }

    #circle3 {
        width: 90%;
        top: 50%;
        left: 50%;
    }

    #circle4 {
        width: 100%;
        top: 50%;
        left: 50%;
    }

    #circle5 {
        width: 95%;
        top: 90%;
        left: 70%;
    }

    // #circle1{
    //     width: 75%;
    //     top: 6%;
    //     right: 12%;
    // }
    // #circle2{
    //     width: 90%;
    //     top: 2%;
    //     right: 3%;
    // }
}

// ABOUT區
#about {
    background-color: #D0D0D0;
    color: #000;

    .title {
        h2 {
            margin-top: 150px;
            color: white;

            .h2bottom {
                margin: 0;
                color: #000;
                z-index: 1;
            }
        }
    }

    hr {
        border: none;
        height: 3px;
    }

    #hr1 {
        background-color: white;
        width: 80%;
        margin: 0 auto;
    }

    #hr2 {
        background-color: #000;
        width: 80%;
        margin: 5px auto;
        margin-left: calc(10% + 10px);
    }


    #aboutTitle {
        display: flex;
        justify-content: center;
        margin-top: 300px;

        .aboutCircle {
            font-size: $font-size-ex-content;
            font-family: 'Linebeam';

            .pTop {
                position: relative;

                .circle {
                    position: absolute;
                    bottom: -180px;
                    height: 450px;
                    width: 450px;
                    border: 3px solid #B5B5B5;
                    border-radius: 999px;
                }

                .circleb {
                    bottom: -185px;
                    border: 3px solid white;
                }

                .pTopcircle1 {
                    left: -170px;
                }

                .pTopcircle1b {
                    left: -175px;
                }

                .pTopcircle2 {
                    left: -75px;
                }

                .pTopcircle2b {
                    left: -80px;
                }

                .pTopcircle3 {
                    left: -135px;
                }

                .pTopcircle3b {
                    left: -140px;
                }
            }

            .pBottom {
                position: absolute;
                color: white;
                top: -5px;
                left: -5px;
            }

            .h2bottom {
                position: absolute;
                z-index: -1;
                width: 100%;
                top: 12px;
                left: 10px;
            }
        }

        .aboutCircleM {
            margin: 0 10.8% 0 12.5%;
        }
    }

    #aboutContent {
        text-align: center;
        line-height: 4rem;

        h3 {
            margin-top: 300px;
            font-family: 'NicoMoji';
            font-size: $font-size-xxxl;
        }

        p {
            padding: 80px 0;
            font-family: 'Inter';
            font-size: $font-size-l;
            font-weight: 900;
        }
    }
}

// FOOTER區
footer {
    width: 75%;
    height: 25vh;
    background-color: $color-main-yellow;
    border-radius: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        margin-left: 50px;
        font-family: 'NicoMoji';
        font-size: $font-size-xxxxl;
    }

    a {
        color: $deep;
    }

    ul {
        display: flex;
        justify-content: end;
        margin-top: 20px;
        margin-right: 50px;

        li {
            margin: 0 35px;
            font-family: 'NicoMoji';
            font-size: $font-size-xxl;
            border-bottom: 3px solid transparent;
            transition: .5s;

            &:hover {
                border-bottom: 3px solid black;
            }
        }
    }

    small {
        text-align: center;
        // padding-top: 5vh;
    }
}