@use "sass:math";
@use '../variables/color' as *;


//banner
@keyframes bannershine {
    0% {
        opacity: 0;
    }

    85% {
        opacity: 0;
    }

    88% {
        opacity: .8;
    }

    90% {
        opacity: 0.2;
    }

    92% {
        opacity: 0.7;
    }

    95% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.8;
    }

}

//totop
@keyframes totop {
    10%{
        opacity: 0.2;
        transform: translateY(-40px);
    }
    20%{
        opacity: 0.7;
        transform: translateY(-20px);
    }
    30%{
        opacity: 0.2;
        transform: translateY(-50px);
    }
    40%{
        opacity: 0.8;
        transform: translateY(-10px);
    }
    50%{
        opacity: 0.2;
        transform: translateY(-30px);
    }
    100%{
        opacity: 0.8;
        transform: translateY(-30px);
    }
}


//glitch
@keyframes glitch-anim {
    $steps: 20;

    @for $i from 0 through $steps {
        #{calc($i * (1/$steps) * 100%)} {
            clip: rect(math.random(100)+px, 9999px, math.random(100)+px, 0);
            transform: skew(calc(math.random(100) / 100) + deg);
        }
    }
}

@keyframes glitch-anim2 {
    $steps: 20;
    
    @for $i from 0 through $steps {
        #{calc($i * (1/$steps) * 100%)} {
            clip: rect(math.random(100)+px, 9999px, math.random(100)+px, 0);
            transform: skew(calc(math.random(100) / 100) + deg);
        }
    }
}

@keyframes glitch-skew {
    $steps: 10;

    @for $i from 0 through $steps {
        #{calc($i * (1/$steps)) * 100%} {
            transform: skew(calc(math.random(10) - 5) + deg);
        }
    }
}
@keyframes glitch-clip {
    20%{
        clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
        // background-color: $color-main-blue;
    }
    74%,
    30%{
        clip-path:  polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
    }
    63%,
    40%{
        clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);
        // background-color: $color-font-green;
    }
    92%,
    50%{
        clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    }
    43%,
    60%{
        clip-path:  polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);
        // background-color: $color-main-yBg;
    }
    15%,
    70%{
        clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);
    }
    5%,
    80%{
        clip-path:  polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);
        // background-color: $color-main-yellow;
    }
    100%{
        opacity: 0.7;
    }
}

//topost
@keyframes shinetopost {
    10% {
        opacity: 0.8;
    }

    30% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 1;
    }

    80% {
        letter-spacing: .5rem;
    }


    100% {
        opacity: 0.5;
    }
}
@keyframes topost {
    50% {

        background-color: #BBF7C2;
    }

    100% {
        width: 30%;
    }
}

//title
@keyframes titletop {
    10% {
        opacity: 0.8;
        transform: translateX(-250px);
    }

    30% {
        opacity: 0.2;
        transform: translateX(0px);
    }

    50% {
        opacity: 0.7;
        // transform: translateX(0px);
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0.2;
    }


    100% {
        opacity: 0.8;
    }

}
@keyframes titlebottom {
    10% {
        opacity: 0.8;
        transform: translateX(400px);
    }

    30% {
        opacity: 0.2;
        transform: translateX(0px);
    }

    50% {
        opacity: 0.7;
    }

    60% {
        opacity: 0.3;
    }

    70% {
        opacity: 1;
    }

    80% {
        opacity: 0.2;
    }


    100% {
        opacity: 0.8;
    }

}

//hitimg
@keyframes hitImg {
    5% {
        opacity: 0.8;
        transform: translateX(-50px);
    }
    8%{
        transform: translateX(0px);
    }
    12%{
        transform: translateX(-20px);
    }
    16%{
        transform: translateX(30px);
    }

    20% {
        opacity: 0.2;
    }
    25%{
        transform: translateY(-25px)
    }
    28%{
        transform: translateY(20px)
    }
    32% {
        opacity: 0.7;
        transform: translateX(100px);
    }
    35%{
        transform: translateX(50px);
    }

    42% {
        opacity: 0.3;
        transform: translateY(20px);
    }
    45%{
        transform: translateY(-20px);
    }
    47%{
        opacity: 1;
        transform: translateY(0px);
    }
    50% {
        opacity: 0.3;
        clip-path: polygon(0 2%, 100% 2%, 100% 95%, 95% 95%, 95% 90%, 85% 90%, 85% 95%, 8% 95%, 0 70%);;
    }

    80% {
        opacity: 0.8;
    }
    82%{
        transform: translateX(-80px) ;
        clip-path: polygon(0 44%, 100% 44%, 100% 54%, 95% 54%, 95% 54%, 85% 54%, 85% 54%, 8% 54%, 0 54%);;
    }
    86% {
        transform: translateX(120px) ;
        clip-path:  polygon(0 0, 100% 0, 100% 0, 95% 0, 95% 0, 85% 0, 85% 0, 8% 0, 0 0);;
    }
    88%{
        transform: translateX(0PX) ;
        clip-path:  polygon(0 63%, 100% 63%, 100% 80%, 95% 80%, 95% 80%, 85% 80%, 85% 80%, 8% 80%, 0 70%);;
    }

    100% {
        opacity: 1;
    }

}


@keyframes shine {
    10% {
        opacity: .8;
    }

    30% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes shineTopbar {

    10% {
        opacity: 0.8;
    }

    20% {
        opacity: 0.5;
    }

    30% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    60% {
        opacity: 0.8;
    }

    70% {
        opacity: 0.2;
    }

    80% {
        opacity: 0.9;
    }

    90% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

// morebtn
@keyframes morebtn {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes circ3 {
    0% {
        opacity: .5;
        transform: rotate(0deg);
    }

    20% {
        opacity: .2;
    }

    50% {
        opacity: 1;
        transform: rotate(-180deg);
    }

    70% {
        opacity: .3;
    }

    100% {
        opacity: .5;
        transform: rotate(-360deg);
    }
}