@keyframes morebtn {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes circ3 {
    0% {
        opacity: .5;
        transform: rotate(0deg);
    }

    20% {
        opacity: .2;
    }

    50% {
        opacity: 1;
        transform: rotate(-180deg);
    }

    70% {
        opacity: .3;
    }

    100% {
        opacity: .5;
        transform: rotate(-360deg);
    }
}

@keyframes shine {
    10% {
        opacity: .8;
    }

    30% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.3;
    }

    100% {
        opacity: 0.8;
    }
}

@keyframes shineTopbar {

    10% {opacity: 0.8;}

    20% {opacity: 0.5;}

    30% {opacity: 0.2;}

    40% {opacity: 0.8;}

    50% {opacity: 0.4;}

    60% {opacity: 0.8;}

    70% {opacity: 0.2;}

    80% {opacity: 0.9;}

    90% {opacity: 0.4;}

    100% {opacity: 0.8;}
}